 /* Remove the navbar's default rounded borders and increase the bottom margin */ 
    
	h1 {
    font-family: Helvetica, Geneva, Arial,
          SunSans-Regular, sans-serif; 
	}
	.navbar {
      margin-bottom: 50px;
      border-radius: 0;
    }
    
    /* Remove the jumbotron's default bottom margin */ 
     .jumbotron {
      margin-bottom: 0;
    }
   
    /* Add a gray background color and some padding to the footer */
    footer {
      background-color: #f2f2f2;
      padding: 25px;
    }
	
	
.slideShow{
	/*background-color: red;*/
	width: 800px;
	height: 425px;
	overflow: hidden;
	margin-bottom: 10px;
}

.slideShow ul{
	padding: 0;
	list-style-type: none;
	margin-left: 0px;
	display: flex;
}

.slideShowButtons{
	width: 600px;
	display: flex;
	position: relative;
	margin-left: 10px;
	top:-30px;
}

.slideShowButtons .slideButton{
	cursor: pointer;
	border-radius: 100%;
	width: 15px;
	height: 15px;
	margin-right: 3px;
	background-color: #a1a1a1;
}

/*Estilos para formulario de contáctanos*/
input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}

.container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}
/*Fin estilos de formulario*/

/*Estilo img Rating*/
.imgRating{
	width: 30px;
	height: 30px;
}

.selectorButtons{
	width: 600px;
	display: flex;
	position: relative;
	margin-left: 250px;
	top:-8px;
}

.selectorButtons .selectorButton{
	cursor: pointer;
	border-radius: 100%;
	width: 15px;
	height: 15px;

	margin-right: 3px;

	background-color: #a1a1a1;
}

