 /* Remove the navbar's default rounded borders and increase the bottom margin */ 
    .navbar {
      margin-bottom: 50px;
      border-radius: 0;
    }
    
    /* Remove the jumbotron's default bottom margin */ 
     .jumbotron {
      margin-bottom: 0;
    }
   
    /* Add a gray background color and some padding to the footer */
    footer {
      background-color: #f2f2f2;
      padding: 25px;
    }
	
	
.slideShow{
	/*background-color: red;*/
	width: 800px;
	height: 425px;
	overflow: hidden;
	margin-bottom: 10px;
}

.slideShow ul{
	padding: 0;
	list-style-type: none;
	margin-left: 0px;
	display: flex;
}

.slideShowButtons{
	width: 600px;
	display: flex;
	position: relative;
	margin-left: 10px;
	top:-30px;
}

.slideShowButtons .slideButton{
	cursor: pointer;
	border-radius: 100%;
	width: 15px;
	height: 15px;

	margin-right: 3px;

	background-color: #a1a1a1;
}

